{% extends 'base.html' %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-4">
        {% for user in users %}
            {% if user.artwork_set.all|length > 0 %}
                {% with random_artwork=user.artwork_set.all|random %}
                  <div class="col mb-4">
                    <div class="card">
                      <img height="300px" src="{{ random_artwork.image.url }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5><a class="card-title" href="/details/{{ user.username }}/">{{ user.username| capfirst }}</a></h5>
                        <p class="card-text">{{ random_artwork.title|title }}.</p>
                      </div>
                    </div>
                  </div>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
