{% extends 'base.html' %}

{% block content %}
    <div class="card" style="width: 18rem;">
    {% if users.profile_picture.avater.url %}
      <img src="{{ users.profile_picture.avater.url }}" class="card-img-top" alt="...">
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ users.first_name }} {{ users.last_name }}</h5>
          <p class="card-text"><small class="text-muted">{{ users.email }}</small></p>
          {% if request.user|striptags == users.username|striptags %}
            <a href="/edit-profile/{{ users.id }}/" class="btn btn-primary">Edit Profile</a>
          {% endif %}
      </div>
    </div>


{% endblock %}